@font-face {
    font-family: overpass-extrabold; 
    src: url(assests/fonts/overpass-extrabold.otf);
}

@font-face {
    font-family: GoogleSans-bold; 
    src: url(assests/fonts/GoogleSans-Bold.ttf);
}

@font-face {
    font-family: GoogleSans-mediumItalics; 
    src: url(assests/fonts/GoogleSans-MediumItalic.ttf);
}

@font-face {
    font-family: GoogleSans-regular; 
    src: url(assests/fonts/GoogleSans-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #74EBD5, #9FACE6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100vh;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3C3737;

}

.dummy-background {
    position: absolute;
    z-index: -5;
    width: 75vw;
    height: 75vh;
    background-image: url('assests//desktop/container_background.png');
    filter: hue-rotate(260deg) brightness(1.25);
    border-radius: 20px;
    background-size: 100% 100%;
}
.dummy-background:nth-of-type(1) {
    z-index: -10;
    background: #ffffff;
}

.container {
    width: 75vw;
    height: 75vh;
    background-size: 100% 100%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
}

.heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 5em;
    margin-top: 20px;
    font-family: overpass-extrabold;
}

.lower {
    font-size: 1.75em;
    font-family: GoogleSans-regular;
    margin-bottom: 30px;
}

.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    width: 300px;
    height:300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:7.5px solid  #96BAE2;
    transition: 1s ease;
}

.image-container {
    width: 97.5%;
    height: 97.5%;
    border-radius: 50%;
}

.name {   
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column;
    margin-left: 15px;
}

.names {
    width: 400px;
    font-size: 2.75em;
    border-bottom: 5px solid  #96BAE2;
    white-space: nowrap;
    font-family: GoogleSans-bold;
}

.dept {
    font-size: 1.75em;
    margin-top: 5px;
    font-family: GoogleSans-mediumItalics;
}

.arrow {
    margin: 0 30px;
    height: 50px;
    width: 25px;
    background-size: 100% 100%;
    background-image: url('assests/desktop/arrow1.png');
    cursor: pointer;
    filter: hue-rotate(260deg) brightness(1.25);
}

.arrow:nth-of-type(1) {
    background-image: url('assests/desktop/arrow2.png');
}


@keyframes animate{
    0%{
        opacity:1;
       transform: scale(1);
       }
       25%{
        transform: scale(0.8);
        opacity:1;
       }
       75%
       {
         transform: scale(1.1);
       }
       100%
       {
        transform: scale(1.1);
       }
}
@-webkit-keyframes  exit {
    0%{
     opacity:1;
    transform: scale(1);
    }
    50%{
     transform: scale(0.8);
     opacity:1;
    }
    99%
    {
      transform: scale(1);
    }
    100%
    {
      opacity:0;
    }
    
}
@-webkit-keyframes enter {
    0%{
      opacity:1;
      transform: scale(1.1);
    }
    50%{
    
    }
    99%
    {
     
    }
    100%
    {
      transform: scale(1);
      opacity:1;

    }
    
}

/* -----------------------------------mobile view------------------------------ */
@media (max-width: 650px) {
    .dummy-background {
        height: 80vh;
        width: 80vw;
        border-radius: 15px;
        background-image: url('assests/mobile/container_background.png');
    }

    .dummy-background:nth-of-type(1) {
        background: #ffffff;
    }

    .container {
        height: 80vh;
        width: 80vw;
        border-radius: 15px;
    }

    .heading {
        font-size: 2.25em;
        margin-top: 20px;
    }

    .main {
        flex-direction: column;
    }

    .lower {
        font-size: 1em;
        margin-bottom: 30px;
        padding-top: 50px;
    }

    .details {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .photo {
        width: 175px;
        height: 175px;
        border-width: 5px;
    }

    .names {
        width: 225px;
        font-size: 1.5em;
        display: flex;
        justify-content: center;  
        border-width: 3px;
    }

    .dept {
        font-size: 1.25em;
    }

    .name {
        margin-left: 0;
        margin-top: 50px;
        align-items: center;
    }

    .arrow {
        height: 25px;
        width: 15px;
        position: absolute;
        top: 50%;
        right: 0;
        margin: 0 7.5px;
        background-image: url('assests/mobile/arrow11.png');
    }
    .arrow:nth-of-type(1) {
        left: 0;
        background-image: url('assests/mobile/arrow12.png');
    }
}
