body {
    margin: 0;
    padding: 0;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(246,95,99,1) 0%, rgba(223,97,142,1) 90.1% );
    width: 100%;
    height: 100vh;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.dummy-background {
    position: absolute;
    z-index: -10;
    width: 75vw;
    height: 75vh;
    background: #ffffff;
    border-radius: 20px;
}

.container {
    width: 75vw;
    height: 75vh;
    background-image: url('assests//desktop/container_background.png');
    background-size: 100% 100%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
}

.heading {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 4em;
    margin-top: 20px;
}

.lower {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    width: 300px;
    height:300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:10px solid  rgb(255, 118, 118);
}

.image-container {
    width: 97.5%;
    height: 97.5%;
    border-radius: 50%;
}

.name {   
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column;
    margin-left: 15px;
}

.names {
    width: 450px;
    font-size: 3em;
    font-family: sans-serif;
    font-weight: bold;
    border-bottom: 6px solid  rgb(255, 118, 118);
    white-space: nowrap;
}

.dept {
    font-size: 1.8em;
    font-family: sans-serif;
    margin-top: 5px; 
}

.arrow {
    margin: 0 30px;
    height: 50px;
    width: 25px;
    background-size: 100% 100%;
    background-image: url('assests/desktop/arrow1.png');
    cursor: pointer;
}

.arrow:nth-of-type(1) {
    background-image: url('assests/desktop/arrow2.png');
}


@keyframes animate{
0%{
    transform : scale(1);
}
50%{
    transform: scale(2);
}
100%{
    transform: scale(1);
}
}

/* -----------------------------------mobile view------------------------------ */
@media (max-width: 650px) {
    .dummy-background {
        height: 80vh;
        width: 80vw;
        border-radius: 15px;
    }

    .container {
        height: 80vh;
        width: 80vw;
        border-radius: 15px;
        background-image: url('assests/mobile/container_background.png');
    }

    .heading {
        font-size: 2em;
        margin-top: 20px;
    }

    .main {
        flex-direction: column;
    }

    .lower {
        font-size: 1em;
        margin-bottom: 30px;
        padding-top: 50px;
    }

    .details {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .photo {
        width: 175px;
        height: 175px;
        border-width: 5px;
    }

    .names {
        width: 225px;
        font-size: 1.5em;
        display: flex;
        justify-content: center;  
        border-width: 3px;
        font-weight: 600;
    }

    .dept {
        font-size: 1.25em;
    }

    .name {
        margin-left: 0;
        margin-top: 50px;
        align-items: center;
    }

    .arrow {
        height: 30px;
        width: 20px;
        position: absolute;
        top: 50%;
        right: 0;
        margin: 0 7.5px;
        background-image: url('assests/mobile/arrow11.png');
    }
    .arrow:nth-of-type(1) {
        left: 0;
        background-image: url('assests/mobile/arrow12.png');
    }
}
